*{
  margin:0;
  padding:0;
  font-weight:bold;
}
.calculator{
  background :#0b0824;
  height:100vh;
  width:100vw;
  background-image: radial-gradient(circle at 87% -20%, #79d7fc  ,#0b0824  35%);
}
.calculator .results{
  height:30%;
  box-sizing: border-box;
  text-align: right;
  padding-right:15px;
  display: flex;
  flex-direction:column ;
  justify-content: flex-end;
  
}
.results .calculation{
  color:#fff;
  font-size:300%;
  width: 100%;
  white-space:nowrap;
  overflow-x:scroll;
}
.results .calculation:-webkit-scroll{
   display:none;
}
.results .output{
  color:#c8c9cc;
  font-size:170%;
  width:100%;
  margin-top:5%;
  white-space:nowrap;
  overflow-x: scroll;
  vertical-align: bottom;
}
.results .output:-webkit-scroll{
   display:none;
}
.buttons{
  display:grid;
  height:70%;
  width:100%; grid-template-columns:auto auto auto auto;
 padding-top:20%;
 
 box-sizing:border-box;
 background-image: radial-gradient(circle at 47% 130%, #79d7fc  ,#0b0824  35%);
 
}
button{
  height:80%;
  width:80%;
  border-radius:1rem;
  margin-left:10%;
  color:#79d7fc;
  background:#343a45;
  backdrop-filter: blur(5px);
  font-size:200%;
}
.buttons .zero{
  grid-column-start:1;
  grid-column-end:3;
}
.buttons .equal{
  background: #17a6e8;
  color:#343a45;
  grid-row-start:4;
  grid-row-end:6;
  grid-column-start:4;
  grid-column-end:5;
}
.buttons .opr{
  background: #3d3af0;
}
.buttons .cl{
  color:white;
  background-color: #828487;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
@media(min-width:430px){
  .calculator{
  height:700px;
  width:380px;
}
}
